body{
    background-color: black;
}
div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 50%;
  }
  
  @keyframes example {
    0%   {background-color:red; left:0%; top:0%;}
    25%  {background-color:yellow; left:80%; top:0px;}
    50%  {background-color:blue; left:80%; top:80%;}
    75%  {background-color:green; left:0%; top:80%;}
    100% {background-color:red; left:0px; top:0px;}
  }